alabaster==0.7.6
asoundconf-gtk==1.1
Babel==2.1.1
decorator==4.0.4
docutils==0.12
ipython==4.0.1
ipython-genutils==0.1.0
Jinja2==2.8
MarkupSafe==0.23
packaging==16.4
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
Pygments==2.0.2
pyparsing==2.1.0
pytz==2015.7
pyxdg==0.25
-e git+git@github.com:danielunderwood/twitter-sentiment-analysis.git@92f21e631c7e1dc88d3878f241e9aabdf8b19c15#egg=sentipy
simplegeneric==0.8.1
six==1.10.0
snowballstemmer==1.2.0
Sphinx==1.3.3
sphinx-rtd-theme==0.1.9
traitlets==4.0.0
